@import "./colors.scss";
p {
    margin: 0;
}

.editCV {
    &-tag-title {
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 19px;
    }
    &-input {
        &>p {
            color: #7a8599;
            font-weight: 600;
            opacity: 0.55;
            margin-bottom: 13px;
        }
        &>input {
            width: 100%;
            height: 43px;
            border: none;
            background-color: #ebedf0;
            // opacity: 0.15;
            color: black;
            margin-bottom: 16px;
            padding: 5px;
            &[type=date] {
                width: 30%;
                margin: 0 1rem 1rem;
            }
        }
        label {
            margin-right: 1rem;
        }
    }
    &-sub-info {
        color: #7a8599;
        margin-bottom: 17px;
    }
    &-add {
        color: #ff6f61;
        font-weight: 600;
        margin: 10px 0 15px 33px;
        &:hover {
            cursor: pointer;
        }
    }
}

#editCV {
    display: flex;
    align-items: center;
    .editCV-content {
        width: 100%;
        margin: 0 370px 50px 370px;
        .editCV-title-container {
            display: flex;
            justify-content: center;
            .editCV-title {
                border: none;
                font-weight: 600;
                font-size: 27px;
            }
        }
        .editCV-personal {
            .editCV-per {
                display: flex;
                .editCV-per-col1 {
                    width: 398px;
                    padding-right: 58px;
                }
                .editCV-per-col2 {
                    width: 398px;
                    padding-left: 58px;
                    .editCV-img {
                        display: flex;
                    }
                    .editCV-img>img {
                        height: 76px;
                        width: 76px;
                        object-fit: cover;
                        margin: 0 21px 15px 0;
                    }
                }
            }
        }
        .editCV-btn {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }
        .editCV-btn>a>button {
            background-color: #ff6f61;
            color: white;
            font-weight: 600;
            height: 52px;
            width: 279px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}