.preCV {
    &__container {
        background-color: #4f5259;
        min-width: 100%;
        margin: 0px;
        & main {
            padding: 1rem 1rem;
            overflow: auto;
        }
    }
    &__header {
        color: white;
        padding: 0.5rem 3.7rem;
        background-color: #0f141f;
        height: 3.7rem;
        & .nav-back {
            float: left;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.35;
        }
        & .btn {
            padding: 0.5rem 0.7rem;
            float: right;
        }
    }
}

.template-cv {
    &__list {
        width: 40%;
        padding: 0 1.6rem 1.875rem;
        overflow: scroll;
        max-height: 100%;
        font-size: 1rem;
        text-align: center;
        float: left;
    }
    &__item {
        display: inline-block;
        float: left;
        margin: 10px;
        width: 40%;
        & img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__review {
        float: right;
        width: 60%;
        font-size: 1.6vw;
        height: 100%;
        overflow: auto;
    }
}

.check-image {
    background-image: url("/web-assignment/app/assets/images/cv.jpg");
    background-size: contain;
    width: 100px;
    height: 100px;
}