#signup-container {
    min-height: 100vh;
    background: url("app/web-assignment/app/images/bg-f-36-c-1501.svg") no-repeat 50% 250%;
    .logo-big {
        margin: 2rem;
        img {
            width: auto;
            height: 100%;
        }
    }
    .login-wrapper {
        padding: 4rem 10rem;
        h2 {
            color: #ff6f61;
            margin-bottom: 1rem;
        }
        .form-control {
            max-width: 400px;
            margin-top: 2rem;
            input {
                width: 100%;
                caret-color: #ff6f61;
                color: rgb(38, 43, 51);
                pointer-events: unset;
                border-radius: 3px;
                padding: 15px 21px;
                transition: color 0.1s ease 0s;
                outline: none;
                border-width: 0px;
                background-color: #fcf9f8;
                border-style: initial;
                border-color: initial;
                border-image: initial;
                margin-bottom: 0.4rem;
                &:invalid {
                    border: 1px solid #bd3200;
                }
            }
            .invalid-wrapper {
                height: 2rem;
                .hidden {
                    display: none;
                }
                .invalid {
                    color: #bd3200;
                    font-size: 0.8rem;
                }
            }
            .form-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                b {
                    color: #ff6f61;
                }
                .btn {
                    padding: 0.5em 1em;
                }
            }
        }
    }
}