.cv {
    font-size: 0.7em;
    width: 50em;
    height: 70em;
    background-color: white;
    &-1 {
        &__container {
            padding: 3em;
        }
        &__header {
            display: block;
        }
        &__avatar {
            width: 4em;
            height: 4em;
            object-fit: cover;
            border-radius: 0.5em;
            display: inline-block;
        }
        &__header > div {
            display: inline-block;
            padding: 2em 0em;
        }
    }
    & section {
        & > div {
            padding: 1em 1em;
        }
    }
}

#template-cv {
    background: rgb(204, 204, 204);
    padding: 50px 0;
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

.cv-container {
    padding: 1cm 0;
    color: #333333;
    .cv-section {
        display: flex;
        margin-bottom: 1cm;
        &-left {
            min-width: 5.5cm;
            text-align: right;
            margin-right: 0.5cm;
            h3 {
                margin-bottom: 4px;
            }
            .cv-section-line {
                width: 100%;
                height: 1.5px;
                background: #ddd;
            }
        }
        &-right {
            padding-right: 1cm;
        }
    }
    #section-header {
        .img-wrapper {
            width: 3cm;
            height: 3cm;
            object-fit: contain;
            border-radius: 50%;
            margin: 0 1cm 0cm 2cm;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        #cv-header-name {
            font-size: 28pt;
        }
        #cv-header-major {
            font-size: 14pt;
            color: #777777;
            font-weight: normal;
        }
    }
    #section-working-experience {
        .cv-experience-item {
            margin-bottom: 10px;
        }
    }
    #section-contact {
        .cv-contact-list {
            padding: 0.35cm 0.5cm;
            background: #eee;
            &-left {
                width: 8cm;
            }
        }
        .cv-contact-item {
            & > * {
                display: inline-block;
            }
            #cv-address {
                display: inline;
            }
        }
    }
    #section-skills {
        .cv-skill-list {
            &:first-child {
                margin-right: 3cm;
            }
            li {
                line-height: 1.5;
            }
        }
    }
}
