@font-face {
  font-family: 'TT Commons';
  font-style: normal;
  src: url("/assets/fonts/TTCommons-Regular.ttf") format("ttf"); }

body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'TT Commons';
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong {
  margin: 0; }

a,
button {
  cursor: pointer;
  outline: none; }

a:hover, button:hover {
  text-decoration: none; }

input,
select,
button {
  box-shadow: none; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.txt--big-heading {
  font-size: 3rem;
  font-weight: bold; }

.txt--heading {
  font-size: 2rem; }

.txt--regular {
  font-size: 1rem; }

.txt--bold {
  font-weight: bold; }

.btn {
  height: 40px;
  color: white;
  background-color: #ff6f61;
  padding: 8px;
  text-align: center;
  border: none;
  border-radius: 4px; }

.input {
  height: 48px;
  width: 100%;
  padding: 10px;
  background-color: #f2f5fa;
  border: none;
  border-bottom: 1px solid #ff6f61; }

.txt-color {
  color: #ff6f61; }

.input::placeholder {
  color: #88898c; }

.eclipse {
  width: 20px;
  height: 20px;
  opacity: 0.27;
  border: 5px solid #88898c;
  background-color: white; }

header {
  height: 80px; }

.body {
  height: calc(100% - 80px - 120px); }

footer {
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #88898c; }
  footer .linebreak {
    width: 100px;
    border-bottom: 1px solid #88898c;
    height: 1px; }
  footer ul {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer ul li {
      float: left;
      cursor: pointer; }
