#login-container {
  min-height: 100vh;
  background: url("/web-assignment/app/images/bg-f-36-c-1501.svg") no-repeat 50% 200%; }
  #login-container .logo-big {
    margin: 2rem; }
    #login-container .logo-big img {
      width: auto;
      height: 100%; }
  #login-container .login-wrapper {
    padding: 4rem 10rem; }
    #login-container .login-wrapper h2 {
      color: #ff6f61;
      margin-bottom: 1rem; }
    #login-container .login-wrapper .form-control {
      max-width: 400px;
      margin-top: 2rem; }
      #login-container .login-wrapper .form-control label {
        color: #98a1b3;
        margin-bottom: 6px;
        display: block; }
      #login-container .login-wrapper .form-control input {
        width: 100%;
        caret-color: #ff6f61;
        color: #262b33;
        pointer-events: unset;
        border-radius: 3px;
        padding: 11px 16px;
        transition: color 0.1s ease 0s;
        outline: none;
        border-width: 0px;
        background-color: #fcf9f8;
        border-style: initial;
        border-color: initial;
        border-image: initial; }
      #login-container .login-wrapper .form-control .form-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #login-container .login-wrapper .form-control .form-bottom b {
          color: #ff6f61; }
        #login-container .login-wrapper .form-control .form-bottom .btn {
          padding: 0.5em 1em; }
