.myCV-navbar > div {
  display: inline-block;
  position: relative; }

.myCV-navbar > div > input {
  color: black;
  font-size: 16px;
  background: transparent;
  width: 250px;
  height: 47px;
  padding: 10px;
  border: solid 3px #ff6f61;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #ffc83d; }

.myCV-navbar > div > input::placeholder {
  color: #333333;
  opacity: 1; }

.myCV-navbar > div > input::-ms-placeholder {
  color: #ffc83d; }

.myCV-navbar > div > input::-ms-input-placeholder {
  color: #ffc83d; }

.myCV-navbar > div > input:focus,
.myCV-navbar > div > input:valid {
  width: 250px; }

.searchCV-displayCV {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 40px;
  margin-bottom: 25px; }
  .searchCV-displayCV .searchCV-display-info > div > p {
    margin-bottom: 5px; }
  .searchCV-displayCV .searchCV-info-title {
    font-size: 30px;
    margin: 1px 0; }
  .searchCV-displayCV .searchCV-info-date {
    opacity: 0.3;
    margin: 1px 0 26px 0; }

.searchCV-displayCV > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px; }

.searchCV-displayCV > div > img {
  height: 250px;
  margin-right: 35px; }
