@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

*:focus {
  outline: none; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: bold;
  margin: 0; }

a,
button {
  cursor: pointer;
  outline: none; }

a {
  text-decoration: none;
  color: #020202; }

button {
  border: 0;
  background-color: #fff; }

input,
textarea,
select,
button {
  font-size: inherit;
  padding: 0;
  margin: 0; }

a:hover,
button:hover {
  text-decoration: none; }

input,
select,
button {
  box-shadow: none; }

body {
  margin: 0; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

div,
p {
  word-break: break-word; }

.cv-header {
  background: #fff;
  height: 70px;
  width: 100%; }
  .cv-header .page-wrapper {
    padding: 0 5%;
    height: 100%;
    justify-content: space-between; }
    .cv-header .page-wrapper .category-menu ul {
      border-right: solid 1px #dde3f0; }
      .cv-header .page-wrapper .category-menu ul li {
        margin: 0 1rem;
        color: #020202; }

.logo-big {
  height: 40px;
  object-fit: contain; }

.preCV__container {
  min-width: 100%;
  margin: 0px;
  overflow: hidden;
  height: 100vh; }
  .preCV__container main {
    padding: 1rem 1rem;
    display: inline-block;
    overflow: auto;
    background-color: #4f5259; }

.preCV__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 3.7rem;
  background-color: #0f141f;
  height: 3.7rem; }
  .preCV__header .nav-back {
    float: left;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.35; }
  .preCV__header .btn {
    padding: 0.5rem 0.7rem;
    float: right; }

.template-cv__list {
  width: 35%;
  padding: 0 1.6rem 1.875rem;
  overflow: scroll;
  max-height: 100%;
  font-size: 1rem;
  text-align: center;
  float: left; }

.template-cv__item {
  display: inline-block;
  float: left;
  margin: 10px;
  width: 40%; }
  .template-cv__item img {
    width: 100%;
    object-fit: contain; }

.template-cv__review {
  float: right;
  width: 65%;
  font-size: 0.7em;
  height: 100%;
  overflow: auto;
  padding: 1rem;
  padding-bottom: 4rem; }

.check-image {
  background-image: url("/web-assignment/app/assets/images/cv.jpg");
  background-size: contain;
  width: 100px;
  height: 100px; }

.cv {
  font-size: 0.7em;
  width: 50em;
  height: 70em;
  background-color: white; }
  .cv-1__container {
    padding: 3em; }
  .cv-1__header {
    display: block; }
  .cv-1__avatar {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 0.5em;
    display: inline-block; }
  .cv-1__header > div {
    display: inline-block;
    padding: 2em 0em; }
  .cv section > div {
    padding: 1em 1em; }

#template-cv {
  background: inherit;
  padding: 50px 0; }

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); }

page[size="A4"] {
  width: 21cm;
  height: 29.7cm; }

.cv-container {
  padding: 1cm 0;
  color: #333333; }
  .cv-container .cv-section {
    display: flex;
    margin-bottom: 0.75cm; }
    .cv-container .cv-section-left {
      min-width: 5.5cm;
      text-align: right;
      margin-right: 0.5cm; }
      .cv-container .cv-section-left h3 {
        margin-bottom: 4px; }
      .cv-container .cv-section-left .cv-section-line {
        width: 100%;
        height: 1.5px;
        background: #ddd; }
    .cv-container .cv-section-right {
      padding-right: 1cm; }
  .cv-container #section-header .img-wrapper {
    width: 3cm;
    height: 3cm;
    object-fit: contain;
    border-radius: 50%;
    margin: 0 1cm 0cm 2cm; }
    .cv-container #section-header .img-wrapper img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .cv-container #section-header #cv-header-name {
    font-size: 28pt; }
  .cv-container #section-header #cv-header-major {
    font-size: 14pt;
    color: #777777;
    font-weight: normal; }
  .cv-container #section-working-experience .cv-experience-item {
    margin-bottom: 10px; }
    .cv-container #section-working-experience .cv-experience-item::last-child {
      margin-bottom: 0; }
  .cv-container #section-contact .cv-contact-list {
    padding: 0.35cm 0.5cm;
    background: #eee; }
    .cv-container #section-contact .cv-contact-list-left {
      min-width: 6.5cm; }
  .cv-container #section-contact .cv-contact-item > * {
    display: inline-block; }
  .cv-container #section-contact .cv-contact-item #cv-address {
    display: inline; }
  .cv-container #section-skills .cv-skill-list:first-child {
    margin-right: 3cm; }
  .cv-container #section-skills .cv-skill-list li {
    line-height: 1.5; }

#template-2 {
  text-align: left; }
  #template-2 #section-header {
    display: flex; }
    #template-2 #section-header .img-wrapper {
      margin-left: 0; }
  #template-2 .cv-section {
    display: block;
    padding: 0 2cm; }
    #template-2 .cv-section-left {
      text-align: left;
      margin-bottom: 10px; }
  #template-2 #section-contact .cv-contact-list {
    background: none;
    padding: 0; }
  #template-2 #section-skills .cv-skill-list:first-child {
    min-width: 8cm;
    margin-right: 0; }

.myCV-icon {
  color: #ff6f61;
  margin-right: 8px; }

#myCV {
  background-color: #fcf9f8; }
  #myCV .myCV-body {
    height: 171%;
    display: flex; }
    #myCV .myCV-body .myCV-content {
      width: 100%;
      height: 100%;
      margin: 40px 141px; }
      #myCV .myCV-body .myCV-content .myCV-title {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.35;
        text-align: left;
        color: #000000; }
      #myCV .myCV-body .myCV-content .myCV-navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 0.5px lightgray;
        height: 51px; }
        #myCV .myCV-body .myCV-content .myCV-navbar .myCV-nav {
          opacity: 0.68;
          font-size: 20px;
          line-height: 1.34;
          text-align: left;
          color: #000000;
          display: flex;
          align-items: center; }
          #myCV .myCV-body .myCV-content .myCV-navbar .myCV-nav .myCV-nav-resume {
            margin-right: 17px; }
          #myCV .myCV-body .myCV-content .myCV-navbar .myCV-nav .myCV-nav-CV {
            color: #000000;
            opacity: 0.2; }
        #myCV .myCV-body .myCV-content .myCV-navbar .myCV-createNew {
          width: 148px;
          height: 45px;
          border-radius: 4px;
          background-color: #ff6f61;
          color: white; }
      #myCV .myCV-body .myCV-content .myCV-displayCV {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 40px;
        margin-bottom: 25px; }
        #myCV .myCV-body .myCV-content .myCV-displayCV .myCV-display-info > div > p {
          margin-bottom: 5px; }
        #myCV .myCV-body .myCV-content .myCV-displayCV .myCV-info-title {
          font-size: 30px;
          margin: 1px 0; }
        #myCV .myCV-body .myCV-content .myCV-displayCV .myCV-info-date {
          opacity: 0.3;
          margin: 1px 0 26px 0; }
      #myCV .myCV-body .myCV-content .myCV-displayCV > div {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
      #myCV .myCV-body .myCV-content .myCV-displayCV > div > img {
        height: 416px;
        margin-right: 44px; }

.cv-footer {
  background-color: #0f141f;
  color: #fff;
  padding: 40px 15%;
  justify-content: space-between; }

.social-links .social-button {
  width: 40px;
  height: 40px;
  margin-right: 1em;
  background-color: #fff;
  border-radius: 50%; }

.social-wrapper .header {
  font-size: 1.35rem;
  margin: 0 0 1rem 0; }

.nav-bottom .nav-links a {
  margin-bottom: 8px;
  display: block;
  color: #fff; }

.nav-bottom .nav-links div {
  text-transform: uppercase;
  color: #3d4047;
  margin-bottom: 8px;
  font-size: 14px; }

#landing {
  background-color: #fcf9f8;
  padding: 80px 0 40px;
  text-align: center; }
  #landing .main-content {
    text-align: center;
    padding-bottom: 40px; }
    #landing .main-content h1 {
      color: #ff6f61;
      margin: auto;
      max-width: 800px;
      margin-bottom: 0.25em; }
    #landing .main-content .content {
      max-width: 600px;
      margin: auto;
      margin-bottom: 32px; }
  #landing .resum-img {
    max-width: 770px;
    width: 100%;
    height: 355px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 32px; }
    #landing .resum-img img {
      width: 100%; }

.steps-wrapper {
  margin-top: 24px; }
  .steps-wrapper .circle {
    width: 40px;
    height: 40px;
    background-color: #ffc7c2;
    border-radius: 50%;
    line-height: 2em;
    display: inline-block;
    font-weight: bold; }
  .steps-wrapper .content {
    max-width: 250px;
    text-align: left; }

#home {
  background-color: #fcf9f8; }
  #home .home-view {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #home .home-big-button {
    width: 392px;
    height: 426px;
    border-radius: 16px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #88898c; }
    #home .home-big-button .home-createCV-btn {
      width: 123px;
      height: 39px;
      border-radius: 4px;
      background-color: #ff6f61;
      color: white; }
    #home .home-big-button .home-createCV-content {
      height: 173px;
      margin: 16px 54px; }
  #home .home-createCV {
    font-size: 37px;
    margin: 37px 0; }
  #home .home-left-big-button {
    margin-right: 190px; }

#browseCV header {
  height: 80px; }

#browseCV .body {
  height: calc(100% - 80px - 120px);
  text-align: center; }
  #browseCV .body .top {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #browseCV .body .top h3 {
      color: #5c5c5c; }
    #browseCV .body .top .progress_bar {
      display: flex;
      justify-content: center;
      align-items: center; }
      #browseCV .body .top .progress_bar .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%; }
        #browseCV .body .top .progress_bar .circle--reached {
          border: 3px solid #ff6f61; }
        #browseCV .body .top .progress_bar .circle--unreached {
          border: 3px solid #ddd; }
      #browseCV .body .top .progress_bar .bar {
        height: 3px;
        width: 300px; }
        #browseCV .body .top .progress_bar .bar--reached {
          background-color: #ff6f61; }
        #browseCV .body .top .progress_bar .bar--unreached {
          background-color: #ddd; }
  #browseCV .body .bot {
    height: calc(100% - 110px); }

#browseCV footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #88898c; }
  #browseCV footer .linebreak {
    width: 100px;
    border-bottom: 1px solid #88898c;
    height: 1px; }
  #browseCV footer ul {
    width: 470px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #browseCV footer ul li {
      float: left;
      cursor: pointer; }

#browseCV .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  #browseCV .arrow--prev {
    left: 10px; }
  #browseCV .arrow--next {
    right: 10px; }

#browseCV .cv_template {
  height: 100%; }

#browseCV .slick-center .slide-h3 {
  color: #fff; }

#browseCV .slider {
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden; }

#browseCV .slide-item {
  height: 400px;
  text-align: center;
  display: inline-block; }

#browseCV .slider div {
  margin-right: 5px; }

#browseCV .slick-slide {
  opacity: .6; }

#browseCV .slick-center {
  opacity: 1; }

p {
  margin: 0; }

.editCV-tag-title {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 19px; }

.editCV-input > p {
  color: #7a8599;
  font-weight: 600;
  opacity: 0.55;
  margin-bottom: 13px; }

.editCV-input > input {
  width: 100%;
  height: 43px;
  border: none;
  background-color: #ebedf0;
  color: black;
  margin-bottom: 16px;
  padding: 5px; }
  .editCV-input > input[type=date] {
    width: 30%;
    margin: 0 1rem 1rem; }

.editCV-input label {
  margin-right: 1rem; }

.editCV-sub-info {
  color: #7a8599;
  margin-bottom: 17px; }

.editCV-add {
  color: #ff6f61;
  font-weight: 600;
  margin: 10px 0 15px 33px; }
  .editCV-add:hover {
    cursor: pointer; }

#editCV {
  display: flex;
  align-items: center; }
  #editCV .editCV-content {
    width: 100%;
    margin: 0 370px 50px 370px; }
    #editCV .editCV-content .editCV-title-container {
      display: flex;
      justify-content: center; }
      #editCV .editCV-content .editCV-title-container .editCV-title {
        border: none;
        font-weight: 600;
        font-size: 27px; }
    #editCV .editCV-content .editCV-personal .editCV-per {
      display: flex; }
      #editCV .editCV-content .editCV-personal .editCV-per .editCV-per-col1 {
        width: 398px;
        padding-right: 58px; }
      #editCV .editCV-content .editCV-personal .editCV-per .editCV-per-col2 {
        width: 398px;
        padding-left: 58px; }
        #editCV .editCV-content .editCV-personal .editCV-per .editCV-per-col2 .editCV-img {
          display: flex; }
        #editCV .editCV-content .editCV-personal .editCV-per .editCV-per-col2 .editCV-img > img {
          height: 76px;
          width: 76px;
          object-fit: cover;
          margin: 0 21px 15px 0; }
    #editCV .editCV-content .editCV-btn {
      margin-top: 1rem;
      display: flex;
      justify-content: center; }
    #editCV .editCV-content .editCV-btn > a > button {
      background-color: #ff6f61;
      color: white;
      font-weight: 600;
      height: 52px;
      width: 279px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center; }

main {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif; }
  main #errorText {
    font-size: 22px;
    margin: 14px 0; }
  main #errorLink {
    font-size: 20px;
    padding: 12px;
    border: 1px solid;
    color: #000;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s ease-in-out; }
  main #errorLink:hover {
    color: #fff;
    background: #000; }
  main #errorLink:active {
    color: #fff;
    background: #000; }
  main #g6219 {
    transform-origin: 85px 4px;
    animation: an1 12s 0.5s infinite ease-out; }

@keyframes an1 {
  0% {
    transform: rotate(0); }
  5% {
    transform: rotate(3deg); }
  15% {
    transform: rotate(-2.5deg); }
  25% {
    transform: rotate(2deg); }
  35% {
    transform: rotate(-1.5deg); }
  45% {
    transform: rotate(1deg); }
  55% {
    transform: rotate(-1.5deg); }
  65% {
    transform: rotate(2deg); }
  75% {
    transform: rotate(-2deg); }
  85% {
    transform: rotate(2.5deg); }
  95% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0); } }

#login-container {
  min-height: 100vh;
  background: url("/web-assignment/app/images/bg-f-36-c-1501.svg") no-repeat 50% 200%; }
  #login-container .logo-big {
    margin: 2rem; }
    #login-container .logo-big img {
      width: auto;
      height: 100%; }
  #login-container .login-wrapper {
    padding: 4rem 10rem; }
    #login-container .login-wrapper h2 {
      color: #ff6f61;
      margin-bottom: 1rem; }
    #login-container .login-wrapper .form-control {
      max-width: 400px;
      margin-top: 2rem; }
      #login-container .login-wrapper .form-control label {
        color: #98a1b3;
        margin-bottom: 6px;
        display: block; }
      #login-container .login-wrapper .form-control input {
        width: 100%;
        caret-color: #ff6f61;
        color: #262b33;
        pointer-events: unset;
        border-radius: 3px;
        padding: 11px 16px;
        transition: color 0.1s ease 0s;
        outline: none;
        border-width: 0px;
        background-color: #fcf9f8;
        border-style: initial;
        border-color: initial;
        border-image: initial; }
      #login-container .login-wrapper .form-control .form-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #login-container .login-wrapper .form-control .form-bottom b {
          color: #ff6f61; }
        #login-container .login-wrapper .form-control .form-bottom .btn {
          padding: 0.5em 1em; }

#signup-container {
  min-height: 100vh;
  background: url("/web-assignment/app/images/bg-f-36-c-1501.svg") no-repeat 50% 250%; }
  #signup-container .logo-big {
    margin: 2rem; }
    #signup-container .logo-big img {
      width: auto;
      height: 100%; }
  #signup-container .login-wrapper {
    padding: 4rem 10rem; }
    #signup-container .login-wrapper h2 {
      color: #ff6f61;
      margin-bottom: 1rem; }
    #signup-container .login-wrapper .form-control {
      max-width: 400px;
      margin-top: 2rem; }
      #signup-container .login-wrapper .form-control input {
        width: 100%;
        caret-color: #ff6f61;
        color: #262b33;
        pointer-events: unset;
        border-radius: 3px;
        padding: 15px 21px;
        transition: color 0.1s ease 0s;
        outline: none;
        border-width: 0px;
        background-color: #fcf9f8;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        margin-bottom: 0.4rem; }
        #signup-container .login-wrapper .form-control input:invalid {
          border: 1px solid #bd3200; }
      #signup-container .login-wrapper .form-control .invalid-wrapper {
        height: 2rem; }
        #signup-container .login-wrapper .form-control .invalid-wrapper .hidden {
          display: none; }
        #signup-container .login-wrapper .form-control .invalid-wrapper .invalid {
          color: #bd3200;
          font-size: 0.8rem; }
      #signup-container .login-wrapper .form-control .form-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #signup-container .login-wrapper .form-control .form-bottom b {
          color: #ff6f61; }
        #signup-container .login-wrapper .form-control .form-bottom .btn {
          padding: 0.5em 1em; }

#browseCV header {
  height: 80px; }

#browseCV .body {
  height: calc(100% - 80px - 120px);
  text-align: center; }
  #browseCV .body .top {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #browseCV .body .top h3 {
      color: #5c5c5c; }
    #browseCV .body .top .progress_bar {
      display: flex;
      justify-content: center;
      align-items: center; }
      #browseCV .body .top .progress_bar .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%; }
        #browseCV .body .top .progress_bar .circle--reached {
          border: 3px solid #ff6f61; }
        #browseCV .body .top .progress_bar .circle--unreached {
          border: 3px solid #ddd; }
      #browseCV .body .top .progress_bar .bar {
        height: 3px;
        width: 300px; }
        #browseCV .body .top .progress_bar .bar--reached {
          background-color: #ff6f61; }
        #browseCV .body .top .progress_bar .bar--unreached {
          background-color: #ddd; }
  #browseCV .body .bot {
    height: calc(100% - 110px); }

#browseCV footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #88898c; }
  #browseCV footer .linebreak {
    width: 100px;
    border-bottom: 1px solid #88898c;
    height: 1px; }
  #browseCV footer ul {
    width: 470px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #browseCV footer ul li {
      float: left;
      cursor: pointer; }

#browseCV .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  #browseCV .arrow--prev {
    left: 10px; }
  #browseCV .arrow--next {
    right: 10px; }

#browseCV .cv_template {
  height: 100%; }

#browseCV .slick-center .slide-h3 {
  color: #fff; }

#browseCV .slider {
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden; }

#browseCV .slide-item {
  height: 400px;
  text-align: center;
  display: inline-block; }

#browseCV .slider div {
  margin-right: 5px; }

#browseCV .slick-slide {
  opacity: .6; }

#browseCV .slick-center {
  opacity: 1; }

.myCV-navbar > div {
  display: inline-block;
  position: relative; }

.myCV-navbar > div:after {
  content: "";
  background: #ff6f61;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #ffc83d; }

.myCV-navbar > div > input {
  color: black;
  font-size: 16px;
  background: transparent;
  width: 47px;
  height: 47px;
  padding: 10px;
  border: solid 3px #ff6f61;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #ffc83d;
  transition: width 0.5s; }

.myCV-navbar > div > input::placeholder {
  color: #ffc83d;
  opacity: 1; }

.myCV-navbar > div > input::-ms-placeholder {
  color: #ffc83d; }

.myCV-navbar > div > input::-ms-input-placeholder {
  color: #ffc83d; }

.myCV-navbar > div > input:focus,
.myCV-navbar > div > input:valid {
  width: 250px; }

.searchCV-displayCV {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 40px;
  margin-bottom: 25px; }
  .searchCV-displayCV .searchCV-display-info > div > p {
    margin-bottom: 5px; }
  .searchCV-displayCV .searchCV-info-title {
    font-size: 30px;
    margin: 1px 0; }
  .searchCV-displayCV .searchCV-info-date {
    opacity: 0.3;
    margin: 1px 0 26px 0; }

.searchCV-displayCV > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px; }

.searchCV-displayCV > div > img {
  height: 250px;
  margin-right: 35px; }

.clearfix {
  zoom: 1; }
  .clearfix:after, .clearfix:before {
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }

body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Source Sans Pro";
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong {
  margin: 0; }

.mr-1 {
  margin-right: 0.75em; }

.mr-2 {
  margin-right: 1em; }

.mr-3 {
  margin-right: 1.25em; }

.mr-34 {
  margin-right: 1.5em; }

.mr-5 {
  margin-right: 2em; }

.ml-1 {
  margin-left: 0.75em; }

.ml-2 {
  margin-left: 1em; }

.ml-3 {
  margin-left: 1.25em; }

.ml-4 {
  margin-left: 1.5em; }

.ml-5 {
  margin-left: 2em; }

.pr-1 {
  padding-right: 0.75em; }

.pr-2 {
  padding-right: 1em; }

.pr-3 {
  padding-right: 1.25em; }

.pr-4 {
  padding-right: 1.5em; }

.pr-5 {
  padding-right: 2em; }

.pl-1 {
  padding-left: 0.75em; }

.pl-2 {
  padding-left: 1em; }

.pl-3 {
  padding-left: 1.25em; }

.pl-4 {
  padding-left: 1.5em; }

.pl-5 {
  padding-left: 2em; }

.txt--big-heading {
  font-size: 2.875rem;
  font-weight: bold; }

.txt--heading {
  font-size: 2rem; }

.txt--sub-heading {
  font-size: 1.2rem; }

.txt--regular {
  font-size: 1rem; }

.txt--bold {
  font-weight: bold; }

.txt--big-heading {
  font-size: 2.875rem;
  font-weight: bold; }

.txt--heading {
  font-size: 2rem; }

.txt--sub-heading {
  font-size: 1.2rem; }

.txt--mid-heading {
  font-size: 1.55rem; }

.txt--regular {
  font-size: 1rem; }

.txt--bold {
  font-weight: bold; }

.btn {
  color: white;
  background-color: #ff6f61;
  font-weight: bold;
  padding: 0.4em 0.8em;
  text-align: center;
  border: none;
  border-radius: 4px; }
  .btn-secondary {
    color: #ff6f61; }

.input {
  height: 48px;
  width: 100%;
  padding: 10px;
  background-color: #f2f5fa;
  border: none;
  border-bottom: 1px solid #ff6f61; }

.input::placeholder {
  color: #88898c; }

.eclipse {
  width: 20px;
  height: 20px;
  opacity: 0.27;
  border: 5px solid #88898c;
  background-color: white; }

.txt-color {
  color: #ff6f61; }

.d-flex {
  display: flex; }

.d-b {
  display: block; }

.d-ib {
  display: inline-block; }

.ali-center {
  align-items: center; }

.jus-center {
  justify-content: center; }

body {
  padding: 0px;
  margin: 0px; }

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.mt-1 {
  margin-top: 0.75em; }

.mt-2 {
  margin-top: 1em; }

.mt-3 {
  margin-top: 1.25em; }

.mt-34 {
  margin-top: 1.5em; }

.mt-5 {
  margin-top: 2em; }

.mb-1 {
  margin-bottom: 0.75em; }

.mb-2 {
  margin-bottom: 1em; }

.mb-3 {
  margin-bottom: 1.25em; }

.mb-4 {
  margin-bottom: 1.5em; }

.mb-5 {
  margin-bottom: 2em; }

.pt-1 {
  padding-top: 0.75em; }

.pt-2 {
  padding-top: 1em; }

.pt-3 {
  padding-top: 1.25em; }

.pt-4 {
  padding-top: 1.5em; }

.pt-5 {
  padding-top: 2em; }

.pb-1 {
  padding-bottom: 0.75em; }

.pb-2 {
  padding-bottom: 1em; }

.pb-3 {
  padding-bottom: 1.25em; }

.pb-4 {
  padding-bottom: 1.5em; }

.pb-5 {
  padding-bottom: 2em; }
